.venv
.DS_Store
__pycache__

src/test_data/
.env
reqs.txt

# Local search service for testing
test_local_garbage
semantic
milvus_lite.db
src/test.py

# Dev
docker-compose.override.yml

docker-compose.yml