python-dotenv

# # API
# fastapi
# uvicorn
# python-multipart
# httpx

# Text Processing
pymupdf
ocrmypdf
pytesseract
pdf2image
pandas
pdfplumber
nltk
llama-index-core
langdetect

# # Elasticsearch
# elasticsearch
# kibana
# git+https://github.com/0Kozlik0/EvilFlowerElasticsearch.git@main#egg=elvira_elasticsearch_client
# confluent_kafka

# Celery
celery
redis
requests