python-dotenv==1.0.1
pymupdf

# API
fastapi
uvicorn
python-multipart
httpx
ocrmypdf
pytesseract
pdf2image
pandas
pdfplumber
# camelot

# Elasticsearch
elasticsearch
kibana
git+https://github.com/0Kozlik0/EvilFlowerElasticsearch.git@main#egg=elvira_elasticsearch_client
confluent_kafka
